<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- log management -->
    <add key="Log.File" value="C:\GITFragomen\i9\EV 28 XQueue\I9.USCIS.XQueue.Live\bin\Debug\ResolvedCases_Live.log"/>
    <!-- sql management -->
    <!--<add key="Sql.Server" value="172.24.22.34"/>
    <add key="Sql.Database" value="I9Tracker"/>
    <add key="Sql.Account" value="khue"/>
    <add key="Sql.Password" value="O$carhu3"/>
-->
    <add key="Sql.Server" value="10.197.0.203"/>
    <add key="Sql.Database" value="I9Tracker"/>
    <add key="Sql.Account" value="khue"/>
    <add key="Sql.Password" value="k#2h43s9%s"/>
    <!-- smtp information -->
    <add key="Smtp.Server" value="smtp-mn.fdbl-int.com"/>
    <!-- application failure notification -->
    <add key="Failure.Email.From" value="I9 Postmaster &lt;DoNotReply@Fragomen.com&gt;"/>
    <add key="Failure.Email.SendTo" value="khue@fragomen.com"/>
    <add key="Failure.Email.Subject" value="Failure: USCIS External Queue (Live System)"/>
    <add key="Failure.Email.Message" value="There has been an error/failure during the process.  The exception details should be listed below:"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
