<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- log management -->
    <add key="Log.File" value="C:\i9\EV 28 XQueue\I9.USCIS.XQueue.Live\bin\Debug\ResolvedCases_Live.log"/>
    <!-- sql management -->
    
    <add key="Sql.Server" value="10.197.0.203"/>
    <add key="Sql.Database" value="I9Tracker"/>
    <add key="Sql.Account" value="f87d78fds"/>
    <add key="Sql.Password" value="f7ds6f87ds6f8s"/>
    <!-- smtp information -->
    <add key="Smtp.Server" value="f6d8s678678"/>
    <!-- application failure notification -->
    <add key="Failure.Email.From" value="test@fake.com"/>
    <add key="Failure.Email.SendTo" value="kevin.hue@gmail.com"/>
    <add key="Failure.Email.Subject" value="Failure: USCIS External Queue (Live System)"/>
    <add key="Failure.Email.Message" value="There has been an error/failure during the process.  The exception details should be listed below:"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
