<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections/>

  <appSettings>
    
    <!-- sql management -->
    <!--<add key="Sql.Server" value="db-development.fdbl-int.com"/>-->
    <add key="Sql.Server" value="i9-dev-sql.fdbl-int.com"/>
    <add key="Sql.Database" value="I9Tracker"/>
    <add key="Sql.Account" value="i9sc"/>
    <add key="Sql.Password" value="X6zUNjBf"/>

  </appSettings>
  
</configuration>