<?xml version="1.0" encoding="utf-8" ?>

<configuration>

  <appSettings>

    <!-- file management -->
    <add key="XmlFile.Password" value="I9.USCIS.Passwords.xml"/>
    <add key="XmlFile.USCIS" value="I9.USCIS.Wrapper.dll.config"/>

    <!-- smtp information -->
    <add key="Smtp.Server" value="smtp-mn.fdbl-int.com"/>

    <!-- application success notification -->
    <add key="Success.Email.From" value="I9 Postmaster &lt;DoNotReply@Fragomen.com&gt;"/>
    <add key="Success.Email.SendTo" value="khue@fragomen.com"/>
    <add key="Success.Email.Subject" value="Success: USCIS Password Queue"/>
    <add key="Success.Email.Message" value="The USCIS ({0}) password has been updated."/>

    <!-- application failure notification -->
    <add key="Failure.Email.From" value="I9 Postmaster &lt;DoNotReply@Fragomen.com&gt;"/>
    <add key="Failure.Email.SendTo" value="khue@fragomen.com"/>
    <add key="Failure.Email.Subject" value="Failure: USCIS Password Queue (Test System)"/>
    <add key="Failure.Email.Message" value="There has been an error/failure during the process.  The excetpion details should be listed below:"/>

  </appSettings>

</configuration>