<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- log management -->
    <add key="Log.File" value="C:\I9.Modules\USCIS-V19\ResolvedCases_Live.log"/>

    <!-- sql management -->
    <add key="Sql.Server" value="SQLVS22NJ"/>
    <add key="Sql.Database" value="I9Tracker"/>
    <add key="Sql.Account" value="I9Everify"/>
    <add key="Sql.Password" value="Ysx3ssoni$"/>
    <!-- smtp information -->
    <add key="Smtp.Server" value="smtp-mn.fdbl-int.com"/>
    <!-- application failure notification -->
    <add key="Failure.Email.From" value="I9 Postmaster &lt;DoNotReply@Fragomen.com&gt;"/>
    <add key="Failure.Email.SendTo" value="khue@fragomen.com"/>
    <add key="Failure.Email.Subject" value="Failure: USCIS External Queue (Live System)"/>
    <add key="Failure.Email.Message" value="There has been an error/failure during the process.  The excetpion details should be listed below:"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
  
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
