<?xml version="1.0" encoding="utf-8" ?>

<configuration>

  <appSettings>

    <!-- sql management -->
    <add key="Sql.Server" value="i9-dev-sql.fdbl-int.com"/>
    <add key="Sql.Database" value="I9Tracker"/>
    <add key="Sql.UserAccount" value="i9sc"/>
    <add key="Sql.AccountPassword" value="X6zUNjBf"/>

    <!-- smtp information -->
    <add key="Smtp.Server" value="smtp-mn.fdbl-int.com"/>

    <!-- application failure notification -->
    <add key="Failure.Email.From" value="I9 Postmaster &lt;DoNotReply@Fragomen.com&gt;"/>
    <add key="Failure.Email.SendTo" value="kcarlisle@fragomen.com"/>
    <add key="Failure.Email.Subject" value="Failure: USCIS Error Queue (Live System)"/>
    <add key="Failure.Email.Message" value="There has been an error/failure during the process.  The excetpion details should be listed below:"/>

  </appSettings>

</configuration>
