<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections />
  <appSettings>
    <!-- sql management -->
    <add key="Sql.Server" value="10.197.0.203" />
    <add key="Sql.Database" value="I9Tracker" />
    <add key="Sql.Account" value="f7d89sf9" />
    <add key="Sql.Password" value="89fd7s89f89ds" />
    <!-- smtp information -->
    <add key="Smtp.Server" value="f8ds7f89ds" />
    <!-- application failure notification -->
    <add key="Failure.Email.From" value="test@fake.com" />
    <add key="Failure.Email.SendTo" value="kevin.hue@gmail.com" />
    <add key="Failure.Email.Subject" value="Failure: Console Processing" />
    <add key="Failure.Email.Message" value="There has been an error/failure during the I9 Scheduled Emails process.  Please see attached information." />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="ClientRoleProvider">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>