<?xml version="1.0" encoding="utf-8" ?>

<configuration>

  <appSettings>

    <!-- monitor management (time interval in seconds) -->
    <add key="Monitor.Interval" value="5"/>
    <add key="Monitor.LogEntries" value="2500"/>

    <!-- console management -->
    <add key="Console.Directory" value="C:\I9.Modules\USCIS\Version.02"/>
    <add key="Console.Name" value="I9.USCIS.Console.exe"/>
    <add key="Console.Allowed" value="5"/>

    <!-- sql management -->
    <add key="Sql.Server" value="i9-dev-sql.fdbl-int.com"/>
    <add key="Sql.Database" value="I9Tracker"/>
    <add key="Sql.UserAccount" value="i9sc"/>
    <add key="Sql.AccountPassword" value="X6zUNjBf"/>

    <!-- smtp information -->
    <add key="Smtp.Server" value="smtp-mn.fdbl-int.com"/>

    <!-- application failure notification -->
    <add key="Failure.Email.From" value="I9 Postmaster &lt;DoNotReply@Fragomen.com&gt;"/>
    <add key="Failure.Email.SendTo" value="kcarlisle@fragomen.com"/>
    <add key="Failure.Email.Subject" value="Failure: USCIS Monitor (I9.USCIS.Monitor)"/>
    <add key="Failure.Email.Message" value="There has been an error/failure during the process.  Please see attached information."/>

  </appSettings>

</configuration>
